%header#page-header
  %hgroup
    %h1 Other News

#articles-or-posts-wrapper
  - @articles.each do |article|
    = render :partial => "shared/article_or_post", :locals => { :article_or_post => article } if !article.is_original
    = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article } if article.is_original
    