%p#notice= notice


<<<<<<< HEAD
= image_tag @article.image.url(:thumb)

=======
>>>>>>> e6df53ba538d479d8de147556bdbc1c03188dfcf

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
