.article-wrapper
  %header
    %h1.agenda-article-title= article.title
  .text
    .preview-text
      %p= raw truncate( article.text, :length => 500, :omission => '...' )
    .full-text
      = raw article.text
    .comments
      %fb:comments{ :href => "localhost", :numposts => 5, :width => 500, :colorscheme => "light" }
  %footer
    %h2= article.byline