%header#agenda-header
  %hgroup#agenda-title-wrapper
    %h3#agenda-kicker.kicker The Agenda
    %h1#agenda-title= agenda.title

#agenda-content
  .pitch-wrapper
    = raw agenda.pitch
  %ul#agenda-list
    
    %li.agenda-article#national-feature-li
      %h3 National Feature
      - agenda.articles.each do |article|
        - if article.kind == "National Feature"
          = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article }
    %li.agenda-article#campus-feature-li
      %h3 Campus Feature
      - agenda.articles.each do |article|
        - if article.kind == "Campus Feature"
          = render :partial => "shared/original_article_or_post", :locals => { :article_or_post => article }
