
%header#about-header
  %hgroup#about-kicker-wrapper
    %h1#about-kicker About StudentFrame
  %nav#about-navigation
    %ul#about-menu
      - @about_pages.each do |about_page|
        %li.about_menu_li{ "data-about-order" => about_page.order }= about_page.title
        
#about-slider
  - @about_pages.each do |about_page|
    %section.about-slide{ "data-about-order" => about_page.order }
      %header.about-slide-header
        %hgroup
          %h1= about_page.title
      .about-text= raw about_page.text
      
