@import variables

p
  font-family: "Garamond"
  font-size: 13px
  margin: 10px 0 
  text-align: justify
  

li
  font-family: "News Cycle"
  font-size: 15px

h1
  font-family: "League Gothic"
h2
  font-family: "News Cycle"
h3
  font-family: "News Cycle"

.clear
  clear: both


#page
  background-color: white
  @include boxshadow
  margin: 25px auto
  overflow: hidden
  width: $page_width
  height: $page_height
  
  #content
    position: absolute
    height: $content_height
    width: $page_width